name: Kubernetes Pod Test

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: [self-hosted, Windows, X64]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Apply Pod to Kubernetes
        run: kubectl apply -f k8s/hello-pod.yaml

      - name: Check pods
        run: kubectl get pods -o wide
