name: Kubernetes Pod Test

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Generate random ID using Windows PowerShell
      - name: Generate random ID
        shell: cmd
        run: |
          set /a ID=%RANDOM%
          echo ID=%ID%>> "%GITHUB_ENV%"
          echo Generated ID: %ID%

      # Apply Pod to Kubernetes
      - name: Apply Pod to Kubernetes
        shell: cmd
        run: |
          powershell -Command "(Get-Content k8s/hello-pod.yaml).Replace('{ID}', '%ID%') | Set-Content k8s/hello-pod-gen.yaml"
          kubectl apply -f k8s/hello-pod-gen.yaml

      - name: Check pods
        shell: cmd
        run: kubectl get pods -o wide
