name: Kubernetes Pod Test

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Apply Pod to Kubernetes
        run: kubectl apply -f k8s/hello-pod.yaml

      - name: Verify Pods
        run: kubectl get pods -o wide
