name: Build & Push Docker Image

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Login to GitHub Container Registry (Windows PowerShell version)
      - name: Login to GitHub Container Registry
        run: echo $env:GITHUB_TOKEN | docker login ghcr.io -u $env:GITHUB_ACTOR --password-stdin
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Build image
      - name: Build Docker image
        run: docker build -t ghcr.io/VandemeulebrouckeRoan/hello-world-nginx:latest .

      # Tag additional version with branch + commit SHA
      - name: Tag with branch + SHA
        run: docker tag ghcr.io/vandemeulebrouckeroan/hello-world-nginx:latest ghcr.io/vandemeulebrouckeroan/hello-world-nginx:${{ github.ref_name }}-${{ github.sha }}

      # Push latest
      - name: Push latest
        run: docker push ghcr.io/vandemeulebrouckeroan/hello-world-nginx:latest

      # Push branch+SHA tag
      - name: Push branch+SHA
        run: docker push ghcr.io/vandemeulebrouckeroan/hello-world-nginx:${{ github.ref_name }}-${{ github.sha }}
